In [1]:
# a simple string stored in a variable 'text'
text = "Hello Universe"

In [8]:
# define the 'text' in another variable name 'upper_text'
# print the text message in upper case
upper_text = text.upper()
print (upper_text)

HELLO UNIVERSE

In [10]:
# define the 'text' in another variable name 'lower_text'
# print the text message in lower case
lower_text = text.lower()
print (lower_text)

hello universe

In [12]:
# let again define three variables
myvar1 = "a"
myvar2 = 2
myvar3 = "2"

In [14]:
# print myvar1 type 
type(myvar1)

str

In [15]:
# print myvar2 type 
type(myvar2)

int

In [16]:
# print myvar3 type 
type(myvar3)

str

In [17]:
# first define a variable and take an input and print that variable
myvar4 = input("Enter your choice ")
myvar4

Enter your choice  4

'4'

In [21]:
# the ourput has come as a string
# now if i do addition any number with the myvar4, it will show an error
# before adding i have to convert the string as an integer or as a float
myvar5 = int(myvar4) + 2
myvar5

6

In [22]:
# i can again convert the final output 'myvar5' as a string and print the same
myvar6 = str(myvar5)
myvar6

'6'

In [29]:
# now we can add another string with the string 'myvar6'
# and the output will be a string
myvar7 = myvar6 + " number of seasons"
myvar7

'6 number of seasons'

In [31]:
# if we use print function, we also get the same same output
print (myvar7)

6 number of seasons

In [45]:
# a function is a code where i can pass some parameters
# the print() function is an example 
# here in jupyter we can print any operation as we have seen above
# but in real code we need to print any parameter through print() function
# while we print any string by print() function it will print it
# if i want to print the spaces, commas, questions marks will be same as the input string in the output
print("hello! my name is prasenjit, i am from west bengal")

hello! my name is prasenjit, i am from west bengal

In [49]:
# now multiple line string
# if i want to print multiple lines, there are two different ways
# first one by using 'new line' operator
# single 'new line' means next line, multiple times 'new lines' operator means multiple empty new lines/paragraphs
# here i will use two 'new line' operatorstwo times d ouble 'new line
print("hello! what are you doing?\n\nhi! I am studying")

hello! what are you doing?

hi! I am studying

In [51]:
# we will use triple quotes for multiline string
print("""hello! what is your name? what are you doing?

hi! myname is prasenjit boral
i am studying""")

hello! what is your name? what are you doing?

hi! myname is prasenjit boral
i am studying

In [52]:
# Using \n for more new lines
print("Name: Prasenjit Boral\nRole: Project Manager\nCompany: Precision Electronics Limited")

Name: Prasenjit Boral
Role: Project Manager
Company: Precision Electronics Limited

In [53]:
# using more example on triple quotes (""" or ''') for multiline strings
# it is best for printing block text or long paragraphs
print("""Dear Team,

Please find the status update below:

- Task A: Completed
- Task B: In Progress
- Task C: Pending

Regards,
Prasenjit""")

Dear Team,

Please find the status update below:

- Task A: Completed
- Task B: In Progress
- Task C: Pending

Regards,
Prasenjit

In [54]:
# joining multiple strings e.g., with +
# it is good when variables are involved
name = "Prasenjit"
project = "Python Brushup"
print("Hello " + name + ",\nWelcome to the " + project + " program.")

Hello Prasenjit,
Welcome to the Python Brushup program.

In [56]:
# joining multiple strings e.g., with f-strings
# it is recommended in advance level
print(f"Hello {name},\nWelcome to the {project} program.")

Hello Prasenjit,
Welcome to the Python Brushup program.

In [58]:
# in the backend, strings in python are stored as sequences of Unicode characters
# once a string is created, it cannot be changed.
# any modification (like s += "new") creates a new string object in memory.
# python3 uses Unicode (UTF-8/UTF-16/UTF-32) to represent characters. 
# internally, python uses an efficient strategy called "Flexible String Representation" (PEP 393).
# # strings are stored as a sequence of characters indexed from 0 to (length of the variable - 1)
myvar8 = "I like classes in Bengali"

In [60]:
myvar8 [0]

'I'

In [65]:
myvar8 [1]

' '

In [62]:
myvar8 [2]

'l'

In [64]:
# printing all the characters in myvar8
for i in range(len(myvar8)):
    print(f"Index {i}: {myvar8[i]}")

Index 0: I
Index 1:
Index 2: l
Index 3: i
Index 4: k
Index 5: e
Index 6:
Index 7: c
Index 8: l
Index 9: a
Index 10: s
Index 11: s
Index 12: e
Index 13: s
Index 14:
Index 15: i
Index 16: n
Index 17:
Index 18: B
Index 19: e
Index 20: n
Index 21: g
Index 22: a
Index 23: l
Index 24: i

In [73]:
# string slicing
# string slicing allows us to extract a part of the string (a substring) using the syntax "string[start : stop : step]"
myvar9 = "This is Python"

In [74]:
myvar9 [0:3]

'Thi'

In [75]:
myvar8 [0:4]

'This'

In [76]:
myvar9 [0:8]

'This is '

In [77]:
myvar9 [5:10]

'is Py'